@charset "UTF-8";
/* ------------------------------*/
/* Gradiente naranja             */
/* ------------------------------*/
#main__contacto a button:hover, #main__contacto form input[type=submit]:hover, .menu-comidas .boton-menu a:hover, .contenedor-p-carousel .contenedor-flex-p-carousel p, .card-item a:hover {
  background: #fcb045;
  background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d);
  background: linear-gradient(to right, #fcb045, #fd1d1d);
}

/* --------------------------*/
/* Animaciones               */
/* --------------------------*/
@keyframes naranja-neon-icon {
  0%, 10%, 15%, 20%, 30%, 35%, 40%, 50%, 55%, 60%, 70%, 75%, 80%, 85%, 90%, 100% {
    text-shadow: 0 -1px 4px #fff, 0 -2px 10px #ff0, 0 -10px 20px #ff8000;
  }
  10%, 15%, 60% {
    text-shadow: none;
  }
}
@keyframes naranja-neon-title {
  0%, 10%, 15%, 20%, 30%, 35%, 40%, 50%, 55%, 60%, 70%, 75%, 80%, 85%, 90%, 100% {
    text-shadow: 0 -1px 4px #fff, 0 -2px 10px #ff0, 0 -10px 20px orangered;
  }
  10%, 15%, 60% {
    text-shadow: none;
  }
}
/* --------------------------*/
/* Reseteo y css general     */
/* --------------------------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-width: thin;
  scrollbar-color: orangered black;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: white;
}

h1 {
  font-size: 32px;
  font-weight: 700;
  color: orangered;
}

h2 {
  font-size: 24px;
  color: orangered;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

i {
  color: white;
}

/* ------------------------------*/
/* Barra de scrolleo y selección */
/* ------------------------------*/
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background-color: orangered;
}

::selection {
  background-color: orangered;
  color: white;
}

::-moz-scrollbar-track {
  background: black;
}

::-moz-scrollbar-thumb {
  background-color: orangered;
}

::selection {
  background-color: orangered;
  color: white;
}

/* ------------------------------*/
/* Card personalizada            */
/* ------------------------------*/
.card-item {
  background-color: white;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  max-width: 300px;
}
.card-item h2 {
  font-weight: 700;
  color: #333;
  margin-top: 0;
  text-align: center;
}
.card-item p {
  color: #555;
  text-align: center;
}
.card-item ul {
  border-radius: 10px;
  background-color: #333;
  margin: 15px 0;
}
.card-item ul li p {
  color: white;
  margin-bottom: 0;
}
.card-item a {
  display: inline-block;
  margin-top: 10px;
  background-color: black;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.card-item i {
  color: white;
}
.card-item .separacion-iconos {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}
.card-item .container-icono, .card-item .boton-card {
  text-align: center;
}

/* --------------------------------*/
/* Zoom al hacer hover sobre fotos */
/* --------------------------------*/
.zoom-foto {
  overflow: hidden;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
  height: 200px;
}
.zoom-foto img {
  object-fit: cover;
  transition: transform 0.3s ease;
  width: 100%;
  height: 100%;
}
.zoom-foto img:hover {
  transform: scale(1.2);
  border-radius: 10px;
}

/* -------------------------------------*/
/* Header y nav  (Dispositivos ≥992px)  */
/* -------------------------------------*/
.nav-personalizado {
  background-color: black;
  height: 72px;
}
.nav-personalizado .brand-personalizado img {
  width: 50px;
  height: 56px;
  transition: all 0.5s;
}
.nav-personalizado .brand-personalizado img:hover {
  transform: rotate(360deg);
}
.nav-personalizado .menu-nav-personalizado {
  background-color: black;
}
.nav-personalizado .menu-nav-personalizado #pagina-actual {
  color: orangered;
  text-decoration: underline;
}
.nav-personalizado .menu-nav-personalizado .item-personalizado .link-personalizado {
  color: white;
}
.nav-personalizado .menu-nav-personalizado .item-personalizado .link-personalizado:hover {
  color: orangered;
}
.nav-personalizado .menu-nav-personalizado .redes-personalizado .instagram {
  margin: 0 1.5rem;
}
.nav-personalizado .menu-nav-personalizado .redes-personalizado .twitter {
  margin-right: 1.5rem;
}
.nav-personalizado .menu-nav-personalizado .redes-personalizado a i:hover {
  color: orangered;
}

/* -------------------------------------*/
/* Header y nav  (Dispositivos < 992px) */
/* -------------------------------------*/
@media (max-width: 991px) {
  .nav-personalizado {
    height: auto;
    margin-bottom: 0;
    padding-bottom: 8px;
  }
  .nav-personalizado .boton-personalizado {
    border: 1px solid white;
  }
  .nav-personalizado .boton-personalizado .imagen-barras {
    background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/></svg>");
  }
  .nav-personalizado .boton-personalizado:active {
    border: 1px solid orangered;
    background-color: orangered;
  }
  .nav-personalizado .menu-nav-personalizado {
    margin: 0.5rem 20px 0px 20px;
    background-color: orangered;
    padding-top: 20px;
  }
  .nav-personalizado .menu-nav-personalizado #pagina-actual {
    color: black;
    text-decoration: none;
  }
  .nav-personalizado .menu-nav-personalizado .item-personalizado .link-personalizado:hover {
    color: black;
  }
  .nav-personalizado .redes-personalizado {
    margin-top: 30px;
    padding: 10px;
    background-color: black;
  }
  .nav-personalizado .redes-personalizado .twitter {
    margin-left: 1.5rem;
  }
}
/* -------------------------------------------- */
/*Contenido (APLICABLE PARA TODAS LAS PÁGINAS)*/
/* -------------------------------------------- */
.content {
  margin-top: 72px;
  min-height: calc(100vh - 72px);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  background: url("../images/fondo.webp") fixed center/cover;
  box-shadow: inset 0 0 50px 50px rgb(0, 0, 0);
  padding-bottom: 100px;
}

/* --------------------------------------*/
/* Footer (Dispositivos ≥992px y <992px) */
/* --------------------------------------*/
footer {
  background-color: #111;
  padding-top: 40px;
  color: white;
}
footer .footer-content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}
footer .footer-content h2, footer .footer-content h3, footer .footer-content h4 {
  color: white;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3rem;
}
footer .footer-content p {
  max-width: 500px;
  margin: 0 30px;
  line-height: 28px;
  font-size: 14px;
}
footer .footer-content .socials {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 3rem;
  padding: 10px;
  background-color: #333;
  border-radius: 5px;
}
footer .footer-content .socials li:not(:last-child) {
  margin-right: 30px;
}
footer .footer-content .socials a {
  text-decoration: none;
  color: white;
}
footer .footer-content .socials a i {
  font-size: 1.1rem;
  margin-right: 8px;
}
footer .footer-content .socials a:hover {
  color: orangered;
}
footer .footer-content .socials a:hover i {
  color: orangered;
}
footer .footer-bottom {
  background: black;
  padding: 20px 0;
  text-align: center;
}
footer .footer-bottom p {
  margin: 0 30px;
  font-size: 14px;
  word-spacing: 2px;
}
footer .footer-bottom span {
  text-transform: uppercase;
  opacity: 0.7;
  font-weight: 400;
}

/* --------------------------------------*/
/* Footer (Dispositivos < 576px)         */
/* --------------------------------------*/
/*Dispositivos s (small)*/
@media (max-width: 575px) {
  footer .footer-content .socials {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    row-gap: 30px;
    column-gap: 30px;
    justify-items: stretch;
    padding: 20px;
  }
  footer .footer-content .socials li:not(:last-child) {
    margin-right: 0;
  }
  footer .footer-content .socials li:nth-child(5) {
    grid-column: span 2;
  }
  footer .footer-content .socials a {
    text-decoration: none;
    color: white;
  }
  footer .footer-content .socials a i {
    display: block;
    margin-right: 0;
  }
}
/* ------------------------------------------------*/
/* Contenido INICIO (Dispositivos ≥992px y <992px) */
/* ------------------------------------------------*/
#main__index {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
}
#main__index .texto-encabezado {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  color: white;
  padding-top: 100px;
  margin: 0 70px;
}
#main__index .texto-encabezado .icono {
  font-size: 70px;
  align-self: center;
  animation: naranja-neon-icon 2s infinite alternate;
}
#main__index .texto-encabezado .titulo {
  text-align: center;
  font-size: 50px;
  color: white;
  animation: naranja-neon-title 2s infinite alternate;
}
#main__index .texto-encabezado .titulo span {
  display: block;
}

/* --------------------------------------------------*/
/* Contenido INICIO (Dispositivos < 992px)           */
/* --------------------------------------------------*/
/*Dispositivos xs (extrasmall)*/
@media (max-width: 575px) {
  #main__index .texto-encabezado .titulo {
    font-size: 35px;
  }
}
/*Dispositivos <= 360px*/
@media (max-width: 360px) {
  #main__index .texto-encabezado .titulo {
    font-size: 25px;
  }
}
/* -------------------------------------------------*/
/* Contenido NUESTRA HISTORIA (Dispositivos ≥992px) */
/* -------------------------------------------------*/
.titulo-historia {
  margin: 40px 0 40px 0;
  text-align: center;
}

.contenedor-p-carousel {
  padding: 25px;
  background-color: black;
  border: 1px solid orangered;
  border-radius: 5px;
}
.contenedor-p-carousel .contenedor-flex-p-carousel {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
}
.contenedor-p-carousel .contenedor-flex-p-carousel p {
  padding: 20px;
  width: 426px;
  margin-bottom: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
}
.contenedor-p-carousel .contenedor-flex-p-carousel .medida-carousel {
  width: 400px;
  height: 400px;
}
.contenedor-p-carousel .contenedor-flex-p-carousel .medida-carousel .borde-carousel {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.contenedor-p-carousel .contenedor-flex-p-carousel .medida-carousel .borde-carousel img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* --------------------------------------------------*/
/* Contenido NUESTRA HISTORIA (Dispositivos < 992px) */
/* --------------------------------------------------*/
/*Dispositivos s y md (Small y Medium)*/
@media (min-width: 576px) and (max-width: 991px) {
  .contenedor-p-carousel .contenedor-flex-p-carousel {
    flex-direction: column;
  }
  .contenedor-p-carousel .contenedor-flex-p-carousel p {
    max-width: 500px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .contenedor-p-carousel .contenedor-flex-p-carousel .medida-carousel {
    width: 426px;
    height: 300px;
  }
  .contenedor-p-carousel .contenedor-flex-p-carousel .medida-carousel .borde-carousel {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 5px;
  }
  .contenedor-p-carousel .contenedor-flex-p-carousel .medida-carousel .borde-carousel img {
    width: 426px;
    height: 300px;
    border-top-right-radius: 0;
  }
}
/*Dispositivos xs (extrasmall)*/
@media (min-width: 361px) and (max-width: 575px) {
  .contenedor-p-carousel .contenedor-flex-p-carousel {
    flex-direction: column;
  }
  .contenedor-p-carousel .contenedor-flex-p-carousel p {
    max-width: 300px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .contenedor-p-carousel .contenedor-flex-p-carousel .medida-carousel {
    width: 300px;
    height: 250px;
  }
  .contenedor-p-carousel .contenedor-flex-p-carousel .medida-carousel .borde-carousel {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 5px;
  }
  .contenedor-p-carousel .contenedor-flex-p-carousel .medida-carousel .borde-carousel img {
    width: 300px;
    height: 250px;
    border-top-right-radius: 0;
  }
}
/*Dispositivos <= 360px*/
@media (max-width: 360px) {
  .titulo-historia h1 {
    font-size: 27px;
  }
  .contenedor-p-carousel {
    padding: 25px 0px;
  }
  .contenedor-p-carousel .contenedor-flex-p-carousel {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
  .contenedor-p-carousel .contenedor-flex-p-carousel p {
    max-width: 210px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    font-size: 10px;
  }
  .contenedor-p-carousel .contenedor-flex-p-carousel .medida-carousel {
    width: 210px;
    height: 250px;
  }
  .contenedor-p-carousel .contenedor-flex-p-carousel .medida-carousel .borde-carousel {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 5px;
    width: 210px;
    margin-left: 0;
  }
  .contenedor-p-carousel .contenedor-flex-p-carousel .medida-carousel .borde-carousel img {
    width: 300px;
    height: 250px;
    border-top-right-radius: 0;
  }
}
/* ---------------------------------------*/
/* Contenido COMIDAS (Dispositivos ≥992px)*/
/* ---------------------------------------*/
.presentacion-comidas h1 {
  text-align: center;
  margin: 40px;
}
.presentacion-comidas p {
  text-align: center;
  margin: 40px;
  padding: 25px;
  background-color: black;
  border: 1px solid orangered;
  border-radius: 5px;
}

.menu-comidas {
  margin: 0 40px;
  background-color: white;
  padding: 24px;
  border-radius: 25px;
}
.menu-comidas .popular-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: none;
  row-gap: 30px;
  column-gap: 30px;
  justify-items: stretch;
  margin: 0;
  padding: 0;
}
.menu-comidas .popular-list .popular-card {
  position: relative;
  border-radius: 25px;
  overflow: hidden;
  height: 330px;
}
.menu-comidas .popular-list .popular-card .card-img {
  height: 100%;
}
.menu-comidas .popular-list .popular-card .card-img img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.menu-comidas .popular-list .popular-card .card-content {
  position: absolute;
  bottom: 10px;
  left: 20px;
  background: white;
  border-radius: 25px;
  padding: 20px;
}
.menu-comidas .popular-list .popular-card .card-content .card-rating {
  background: orangered;
  color: white;
  position: absolute;
  top: 0;
  right: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 1px;
  transform: translateY(-50%);
  padding: 6px 10px;
  border-radius: 20px;
  font-size: 14px;
}
.menu-comidas .popular-list .popular-card .card-content p {
  color: black;
  margin: 0;
  font-weight: 700;
}
.menu-comidas .boton-menu a {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  border-radius: 25px;
  padding: 20px 0;
  background-color: black;
  color: white;
  text-decoration: none;
  text-align: center;
}
/* ----------------------------------------*/
/* Contenido COMIDAS (Dispositivos < 992px)*/
/* ----------------------------------------*/
/*Dispositivos md (Medium)*/
@media (min-width: 768px) and (max-width: 991px) {
  .menu-comidas .popular-list {
    grid-template-columns: 1fr 1fr;
  }
  .menu-comidas .popular-list .last-popular-list {
    grid-column: span 2;
  }
}
/*Dispositivos s (small) hasta 361px*/
@media (min-width: 361px) and (max-width: 767px) {
  .menu-comidas .popular-list {
    grid-template-columns: 1fr;
  }
}
/*Dispositivos xs (extra small) desde 360px*/
@media (max-width: 360px) {
  .menu-comidas .popular-list {
    grid-template-columns: 1fr;
  }
  .menu-comidas .popular-list .popular-card .card-content {
    left: 20px;
    right: 7px;
  }
}
/* -----------------------------------------------------*/
/* Contenido SUCURSALES (Dispositivos ≥992px y <992px)  */
/* -----------------------------------------------------*/
#main__sucursales h1 {
  text-align: center;
  color: orangered;
  margin: 40px 50px;
}

.listaSucursales > ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}
.listaSucursales > ul span {
  display: block;
}

/* --------------------------------------------*/
/* Contenido SUCURSALES (Dispositivos > 1400px)*/
/* --------------------------------------------*/
@media (min-width: 1400px) {
  .listaSucursales > ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    row-gap: 0;
    column-gap: 0;
    justify-items: center;
  }
}
/* -------------------------------------*/
/* Contenido SHOWS (Dispositivos ≥992px)*/
/* -------------------------------------*/
#main__shows {
  text-align: center;
}
#main__shows h1 {
  margin: 40px;
}
#main__shows .presentacion-shows {
  margin-bottom: 50px;
}
#main__shows .presentacion-shows p {
  padding: 25px;
  background-color: black;
  border: 1px solid orangered;
  border-radius: 5px;
  margin: 0 70px;
}
#main__shows .lista-shows {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  row-gap: 50px;
  column-gap: 0;
  justify-items: center;
  padding: 0;
}

/* --------------------------------------*/
/* Contenido SHOWS (Dispositivos < 992px)*/
/* --------------------------------------*/
/*Dispositivos md (Medium)*/
@media (min-width: 768px) and (max-width: 991px) {
  #main__shows .lista-shows {
    grid-template-columns: 1fr 1fr;
  }
  #main__shows .lista-shows .centrar-card {
    grid-column: span 2;
  }
}
/*Dispositivos xs y s (extra small y small)*/
@media (max-width: 767px) {
  #main__shows .presentacion-shows p {
    margin: 0 20px;
  }
  #main__shows .lista-shows {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
  }
}
/* --------------------------------------------------*/
/* Contenido CONTACTO (Dispositivos ≥992px y <992px) */
/* --------------------------------------------------*/
#main__contacto {
  margin: 40px 15px 0 15px;
  max-width: 600px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  padding: 40px;
  text-align: center;
}
#main__contacto h2 {
  color: orangered;
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 700;
}
#main__contacto p {
  color: #666;
  font-size: 16px;
  line-height: 1.5;
}
#main__contacto form {
  margin-top: 30px;
}
#main__contacto form input[type=text],
#main__contacto form input[type=email],
#main__contacto form input[type=number],
#main__contacto form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  color: #666;
  font-weight: 700;
  resize: none;
}
#main__contacto form input[type=submit] {
  background-color: black;
  border-radius: 5px;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
}
#main__contacto hr {
  margin: 20px 0;
}
#main__contacto h3 {
  color: #333;
}
#main__contacto a button {
  margin-top: 30px;
  background-color: black;
  border-radius: 5px;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  font-weight: 700;
}

/*# sourceMappingURL=style.css.map */
