/* ------------------------- */
/* Reseteo y css general */
/* ------------------------- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: white;
}

/* -------------------------------------*/
/* Header y nav  (Dispositivos ≥992px)  */
/* -------------------------------------*/

/*Navbar*/
.nav-background, .menu-color {
    background-color: black;
}

.nav-height {
    height: 72px;
}

#pagina-actual {
    color: orangered;
    text-decoration: underline;
}

/*Logo*/
.navbar-brand img {
    width: 50px;
    height: 56px;
}

/*Redes*/
.redes .instagram {
    margin: 0 1.5rem;
}

.redes .twitter {
    margin-right: 1.5rem; 
}


.nav-item .nav-link{
    color: white;
}

/*Hover*/
.navbar-brand img:hover {
    transform: scale(1.1);

}

.nav-item .nav-link:hover, .redes a i:hover { 
    color: orangered;
}

/* -------------------------------------*/
/* Header y nav  (Dispositivos < 992px) */
/* -------------------------------------*/

@media (max-width: 991px){
    /*Botón menú*/
    .imagen-barras {
        background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/></svg>");
    }
    
    .borde-boton {
        border: 1px solid white;
    }

    /*Navbar y menú*/
    .nav-height {
        height: auto;
    }

    .menu-color {
        background-color: orangered;
    }

    .myp-personalizado {
        margin-top: 0.5rem;
        padding-top: 20px;
    }

    .margen-responsive-redes { 
        margin-top: 30px;
        padding: 10px;
        background-color: black;
    }

    .no-margin-padding {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .margen-responsive-navbar {
        margin: 20px 20px 0px 20px;
    }

    .redes .twitter {
        margin-left: 1.5rem; 
    }
    
    /*Hover*/
    #pagina-actual {
        color: black;
        text-decoration: none;
    }

    .nav-item .nav-link:hover {
        color: black;
    }

    .borde-boton:active {
        border: 1px solid orangered;
        background-color: orangered;
    }
}

/* -------------------------------------------- */
/*Contenido (APLICABLE PARA TODAS LAS PÁGINAS)*/
/* -------------------------------------------- */

h1 {
    font-size: 32px;
    font-weight: 700;
    color: orangered;
}

h2 {
    font-size: 24px;
    color: orangered;
}

img {
    width: 200px;
    height: 200px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.orangeButton {
    margin-top: 30px;
    display: inline-block;
    padding: 15px;
    background-color: orangered;
    cursor: pointer;
}


.content {
    margin-top: 72px;
    min-height: calc(100vh - 72px);
    display: flex;
    justify-content: center;
    background: url("../images/fondo.jpg") fixed center/cover;
    box-shadow: inset 0 0 50px 50px rgba(0,0,0,8);
    padding-bottom: 100px;
}

/* ------------------------- */
/* Contenido (INICIO) */
/* ------------------------- */

#main__index {
	display: flex;
    flex-direction: column;
	justify-content: center;
}

.texto-encabezado {
    display: flex;
    flex-direction: column;
    justify-content: center;
	color: #fff;
    padding-top: 100px;
}

.icono {
    font-size: 70px;
    align-self: center;
}

.titulo {
    text-align: center;
    font-size: 50px;
}

/* ------------------------- */
/* Contenido (NUESTRA HISTORIA) */
/* ------------------------- */

#main__nuestra-historia {
    width: 45vw;
    margin-left: 5%;
    margin-top: 5%;
}

.fotosHistoria {
    width: 45vw;
    display: flex;
    justify-content: center;
    align-content: center;
}

#main__nuestra-historia h1 {
    margin-top: 30px;
    display: inline-block;
    padding-left: 30px;
}


#main__nuestra-historia p {
    margin-top: 50px;
    padding: 30px;
    font-weight: 400;
    width: auto;
    border-radius: 10%;
}

.fotosHistoria div {
    margin-top: 55px;
    max-width: 400px; 
    max-height: 400px;
    justify-content: center;
    align-items: center;
}

.fotosHistoria div img {
    width: 400px;
    height: 400px;
    align-self: center;
    align-items: center;
    border: orangered double 20px;
    border-radius: 100%;
}

/* ------------------------- */
/* Contenido (COMIDAS) */
/* ------------------------- */

#main__comidas {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#main__comidas section p {
    font-weight: 400;
}

#main__comidas h1 {
    margin-top: 25px;
    display: inline-block;
} 

#main__comidas section p {
    margin-top: 25px;
    display: inline-block;
    width: 400px;
    margin-bottom: 40px;
}

.fotosComidas {
    display: flex;
    justify-content: space-evenly;

}

.fotosComidas li {
    margin-left: 30px;
    margin-right: 30px;
}

/* -----------------------------------------------------*/
/* Contenido SUCURSALES (Dispositivos ≥992px y <992px)  */
/* -----------------------------------------------------*/ 

/*Título*/
#main__sucursales h1 {
    text-align: center;
    color: orangered;
    margin: 30px;
}

/*Lista de sucursales (Responsive por flex-wrap)*/
.listaSucursales ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  
/*Card de cada sucursal*/
.sucursalItem {
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    max-width: 300px;
}
  
.sucursalItem h2 {
    font-weight: 700;
    font-size: 24px;
    color: #333;
    margin-top: 0;
    text-align: center;
}
  
.sucursalItem p {
    color: #555;
    text-align: center;
}

.sucursalItem ul {
    border-radius: 10px;
    background-color: #333;
    justify-content: space-around;
    margin: 15px 0;
}

.sucursalItem ul li p {
    color: white;
    margin-bottom: 0;
}

.sucursalItem ul li i {
    color: white;
}

.sucursalItem a {
    display: inline-block;
    margin-top: 10px;
    background-color: black;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
  
.sucursalItem a:hover {
    background-color: #555;
}
  
.sucursalItem img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
    height: 200px;
}

.container-icono{
    text-align: center;
}

.boton-pedidos {
    text-align: center;
}

/* ------------------------- */
/* Contenido (SHOWS) */
/* ------------------------- */

#main__shows {
    text-align: center;
}


#main__shows h1 {
    margin-top: 30px;
    margin-bottom: 30px;
}


.presentacionShows {
    margin-bottom: 30px;
}
        
.listaShows {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
        
.listaShows li {
    width: calc(33.33% - 20px); /* Ajustamos el ancho para mostrar tres elementos por línea */
    margin-bottom: 20px;
    text-align: center;
}
        
.listaShows img {
    max-width: 100%;
    height: auto;
}

/* ------------------------- */
/* Contenido (CONTACTO) */
/* ------------------------- */

#main__contacto {
    margin-top: 40px;
    max-width: 600px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    padding: 40px;
    text-align: center;
}
  
#main__contacto h2 {
    color: orangered;
    font-size: 24px;
    margin-bottom: 20px;
}
  
#main__contacto p {
    color: #666;
    font-size: 16px;
    line-height: 1.5;
}
  
form {
    margin-top: 30px;
}
  
input[type="text"],
input[type="email"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    color:#666;
}
  
input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
  }
  
input[type="submit"]:hover {
    background-color: #555;
}
  
a button {
    margin-top: 30px;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
}
  
a button:hover {
    background-color: #555;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

#main__contacto h3 {
    color: #333;
}

/* ------------------------- */
/* Footer */
/* ------------------------- */

footer {
    background-color: #111;
    padding-top: 40px;
    color: #fff;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3rem;
}

.footer-content p {
    max-width: 500px;
    margin: 0 30px;
    line-height: 28px;
    font-size: 14px;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
    padding: 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #fff;
}

.socials a i { 
    font-size: 1.1rem;
    transition: color .3s ease;

}

.socials a:hover i {
    color: orangered;
}

.footer-bottom {
    background: #000;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p {
    margin: 0 30px;
    font-size: 14px;
    word-spacing: 2px;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

/* ------------------------------*/
/* Barra de scrolleo y selección */
/* ------------------------------*/

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background-color: orangered;
}

::selection {
    background-color: orangered;
    color: white;
  }