/* -------------------------------------*/
/* Contenido SHOWS (Dispositivos ≥992px)*/
/* -------------------------------------*/

#main__shows {
    text-align: center;

    h1 {
        margin: $margin-titles;
    }

    .presentacion-shows {
        margin-bottom: 50px;

        p {
            padding: 25px;
            background-color: $color-principal;
            @include borde($color-secondary);
            border-radius: 5px;
            margin: 0 70px;
        }
    }

    .lista-shows {
        @include dGrid(1fr 1fr 1fr, auto auto auto, 50px, 0, center);
        padding: 0;
    }
}

/* --------------------------------------*/
/* Contenido SHOWS (Dispositivos < 992px)*/
/* --------------------------------------*/

/*Dispositivos md (Medium)*/
@media (min-width: map-get($breakpoints,md)) and (max-width: calc((map-get($breakpoints,lg)) - 1px)) {
    #main__shows {
        .lista-shows {
            grid-template-columns: 1fr 1fr;

            .centrar-card {
                grid-column: span 2;
            }
        }

    }
}

/*Dispositivos xs y s (extra small y small)*/
@media (max-width: calc((map-get($breakpoints,md)) - 1px)) {
    #main__shows {
        .presentacion-shows {
            p {
                margin: 0 20px;
            }
        }
        .lista-shows {
            @include dFlex(column, nowrap, flex-start, center);
        }
    }
}