/* -------------------------------------*/
/* Header y nav  (Dispositivos ≥992px)  */
/* -------------------------------------*/

//Barra de navegación
.nav-personalizado {
    background-color: $color-principal;
    height: 72px;

    //Logo
    .brand-personalizado {
        img {
            width: 50px;
            height: 56px;
            transition: all 0.5s;

            &:hover {
                transform: rotate(360deg);
            }
        }
    }

    //Menú de la barra
    .menu-nav-personalizado {
        background-color: $color-principal;

        #pagina-actual {
            color: $color-secondary;
            text-decoration: underline;
        }

        .item-personalizado {
            .link-personalizado {
                color: $color-text;
        
                &:hover {
                    color: $color-secondary;
                }
            }
        }

        //Redes
        .redes-personalizado {
            .instagram {
                margin: 0 1.5rem;
            }

            .twitter {
                margin-right: 1.5rem;
            }

            a {
                i:hover {
                    color: $color-secondary;
                }
            }
        }
    }
}

/* -------------------------------------*/
/* Header y nav  (Dispositivos < 992px) */
/* -------------------------------------*/

@media (max-width: calc((map-get($breakpoints,lg)) - 1px)) {
    
    //Barra de navegación
    .nav-personalizado {
        height: auto;
        margin-bottom: 0;
        padding-bottom: 8px;

        //Botón menú
        .boton-personalizado {
            @include borde($color-text);

            .imagen-barras {
                background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/></svg>");
            }

            &:active {
                @include borde($color-secondary);
                background-color: $color-secondary;
            }
        }

        //Menú de la barra
        .menu-nav-personalizado {
            margin: 0.5rem 20px 0px 20px;
            background-color: $color-secondary;
            padding-top: 20px;

            #pagina-actual {
                color: $color-principal;
                text-decoration: none;
            }

            .item-personalizado {
                .link-personalizado:hover {
                    color: $color-principal;
                }
            }
        }

        //Redes
        .redes-personalizado{
            margin-top: 30px;
            padding: 10px;
            background-color: $color-principal;

            .twitter {
                margin-left: 1.5rem;
            }
        }
    }
}