//Gradiente para hover en botones y página "Nuestra historia"
%gradient-naranja {
    background:#fcb045;
    background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d);
    background: linear-gradient(to right, #fcb045, #fd1d1d);
}