//Font-weights utilizadas
$font-weight-normal: 400;
$font-weight-bold: 700;

//Font-sizes para títulos
$font-size-h1: 32px;
$font-size-h2: 24px;

//Colores
$color-principal: black;
$color-secondary: orangered;
$color-text: white;
$color-black-lighter: #111;
$color-gray-lighter: #666;
$color-gray: #555;
$color-gray-darker: #333;

//Margen para títulos
$margin-titles: 40px;
